@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "manada";
  default: true;

  --color-primary: #2E7D5A;
  --color-secondary: #DDF3E7;
  --color-accent: #F4A261;
  --color-neutral: #263238;

  --color-base-100: #FAF9F6;

  --color-info: #3B82F6;
  --color-success: #2E7D5A;
  --color-warning: #F4A261;
  --color-error: #E76F51;
}

.app-shell {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-shell--with-navbar {
  /* padding-bottom: 100px; */
}

.app-shell__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 78px 0px;
}
